<% layout('layouts/boilerplate') -%>

<div class="row">
    <h1 class="text-center" >New campground</h1>
    <div class="col-md-6 mx-auto">
        <form class="needs-validation" action="/campgrounds" method="post" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">Title:</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" id="location" name="campground[location]"required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="campground[image]"required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
            <div class="mb-3">
                <label for="image" class="form-label">Choose Image(s)</label>
                <input class="form-control" type="file" name="campground[image]" id="image" multiple required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="campground[description]" rows="2"required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        <div class="col-md-6 mx-auto">
            <label class="form-label mx-auto" for="price">Campground Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" id="price" name="campground[price]" aria-label="Amount (to the nearest dollar)"required>
                <span class="input-group-text">.00</span>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
            <div class="col">
            <button class="btn btn-success col-md-4">Add Campground</button>
            <a class="col-md-4 offset-md-4" href="/campgrounds">Back to main page</a>
            </div>
        </form>
    </div>
</div>