<% layout('layouts/boilerplate') -%>
<div class="container">
<div class="row">
    <h1 class="text-center" >New product</h1>
    <form class="needs-validation" action="/products" method="POST" novalidate>
        <div class="mb-3">
            <label class="form-label" for="name"></label>
            <input class="form-control" type="text" id="name" name="product[name]" placeholder="Product Name" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description"></label>
            <input class="form-control" type="text" id="description" name="product[description]" placeholder="Description" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label for="price"></label>
            <input class="form-control" type="number" id="price" name="product[price]" placeholder="Price" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col">
            <button class="btn btn-success col-md-4" type="submit">Add Product</button>
        </div>
        
    </form>
    
</div>

</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
